<%= image_tag(@top_banner.lg, class: 'main_top') if @top_banner.lg? %>

<% @posts.each_with_index do |post, index| %>
  <div class="home-list">
    <div class="home-list-image">
      <%
         doc = Nokogiri::HTML( raw(BlueCloth.new(post.contents.gsub(/<[^(>|\/)]*?script.*?>([^<]*?)<.*?\/script.*?>/, '')).to_html) )
         img_srcs = doc.css('img').map{ |i| i['src'] }[0]
      %>
      <% if img_srcs %>
        <div class="home-list-background-image" style="background-image: url(<%= img_srcs %>);"></div>
      <% end %>
    </div>
    <div class="home-list-body">
      <div class="home-list-body-text">
        <h2 class="home-heading WF-bold">
          <%= link_to(post.title, post) %>
          <small class="header-date"> <%= post.created_at.strftime('%Y-%m-%d %H:%M') %> </small>
        </h2>
        <span class="WF-thin"> <%= post.contents[0, 300] %></span>
        <% if post.tag_list.size > 0 %>
          <div class='tag_list WF-thin'><%= fa_icon('tags') + " " + tag_icons(post.tag_list) %></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
