<h1 class="WF-thin">News</h1>
<hr>

<% @posts.each do |post| %>
  <div class="media">
    <div class="media-left">
      <%
         doc = Nokogiri::HTML( raw(BlueCloth.new(post.contents.gsub(/<[^(>|\/)]*?script.*?>([^<]*?)<.*?\/script.*?>/, '')).to_html) )
         img_srcs = doc.css('img').map{ |i| i['src'] }[0]
      %>
      <% if img_srcs %>
        <img alt="Thumb wallpaper1" src="<%= img_srcs %>" width="120" height="100">
      <% end %>
    </div>
    <div class="media-body">
      <h2 class="media-heading WF-bold loooog-text">
        <%= link_to(post.title, post) %>
        <small class="header-date"> <%= post.created_at.strftime('%Y-%m-%d %H:%M') %> </small>
      </h2>
      <span class="WF-thin loooog-text"> <%= post.contents[0, 300] %></span>
      <% if post.tag_list.size > 0 %>
        <div class='tag_list WF-thin'><%= fa_icon('tags') + " " + tag_icons(post.tag_list) %></div>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>
