<h1 class="WF-thin">News</h1>
<hr>

<% @posts.each do |post| %>
  <div class="media">
    <div class="media-left">
      <%= link_to(image_tag(post.picture_url(:thumb)), post) if post.picture? %>
    </div>
    <div class="media-body">
      <h2 class="media-heading WF-bold">
        <%= link_to(post.title, post) %>
        <small class="header-date"> <%= post.created_at.strftime('%Y-%m-%d %H:%M') %> </small>
      </h2>
      <span class="WF-thin"> <%= post.contents[0, 300] %></span>
      <% if post.tag_list.size > 0 %>
        <div class='tag_list WF-thin'><%= fa_icon('tags') + " " + tag_icons(post.tag_list) %></div>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>

<br>

<%= link_to 'New Post', new_post_path %>

<br>
<br>
<br>

