<div class="post">
  <p id="notice"><%= notice %></p>
  <div class="row post-top visible-lg visible-md visible-sm">
    <div class="col-xs-6 col-md-6 align-left">
      <% if @post.tag_list.size > 0 %>
        <div class='tag_list WF-thin'><%= fa_icon('tags') + " " + tag_icons(@post.tag_list) %></div>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-6 align-right header-date visible-lg visible-md visible-sm">
      <%= @post.created_at.strftime('%Y-%m-%d %H:%M') %><br>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View : <%= @post.view_count %>
    </div>
  </div>
  <div class="col-xs-12 col-md-12 align-center visible-lg visible-md"><h1 class="WF-thin align-center"><%= @post.title %></h1></div>
  <div class="col-xs-12 col-md-12 align-center visible-sm"><h4 class="WF-thin align-center"><%= @post.title %></h4></div>

  <div class="row post-top visible-xs">
    <div class="col-xs-6 col-md-6 align-left">
      <% if @post.tag_list.size > 0 %>
        <div class='tag_list WF-thin'><%= fa_icon('tags') + " " + tag_icons(@post.tag_list) %></div>
      <% end %>
    </div>

    <div class="col-xs-6 col-md-6 align-right header-date">
      <%= @post.created_at.strftime('%Y-%m-%d %H:%M') %><br>
      <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> View : 0
    </div>
  </div>
  <div class="row post-top visible-xs" style="margin-top:-30px;">
    <div class="col-xs-12 col-md-12 align-center"><h3 class="WF-thin align-center"><%= @post.title %></h3></div>
  </div>

  <%= markdown(@post.contents) %>

  <hr>
    첨부파일 : <%= link_to(@post.file_url, @post) if @post.file? %>
  <hr>

  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4 align-right">
      <%= link_to 'Back', posts_path %>
    </div>
  </div>
</div>

<script>
  $(".markdown-converter > p > img").parent(this).addClass( "p-parent-img" );
  $(".markdown-converter > p > img").addClass( "post-img" );
  $(".markdown-converter > p > iframe").parent(this).addClass( "p-parent-img" );
  $(".markdown-converter > p > iframe").addClass( "post-img" );
</script>