<p id="notice"><%= notice %></p>
<hr>

<div class="row post-top">
  <div class="col-xs-3 col-md-3 align-left visible-lg visible-md visible-sm">
    <% if @post.tag_list.size > 0 %>
      <div class='tag_list WF-thin'><%= fa_icon('tags') + " " + tag_icons(@post.tag_list) %></div>
    <% end %>
  </div>
  <div class="col-xs-6 col-md-6 align-center visible-lg visible-md visible-sm"><h1 class="WF-bold align-center"><%= @post.title %></h1></div>
  <div class="col-xs-12 col-md-12 align-center visible-xs"><h3 class="WF-bold align-center"><%= @post.title %></h3></div>
  <div class="col-xs-3 col-md-3 align-right header-date visible-lg visible-md visible-sm"> <%= @post.created_at.strftime('%Y-%m-%d %H:%M') %> </div>
</div>

<div class='markdown-converter'>
  <%= raw(BlueCloth.new(@post.contents.gsub(/<[^(>|\/)]*?script.*?>([^<]*?)<.*?\/script.*?>/, '')).to_html) %>
</div>

<hr>
  첨부파일 : <%= link_to(@post.file_url, @post) if @post.file? %>
<hr>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"></div>
  <div class="col-md-4 align-right">
    <%= link_to 'Edit',edit_post_path(@post), class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Back', posts_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>

<script>
  $(".markdown-converter > p > img").parent(this).addClass( "p-parent-img" );
  $(".markdown-converter > p > img").addClass( "post-img" );
  $(".markdown-converter > p > iframe").parent(this).addClass( "p-parent-img" );
  $(".markdown-converter > p > iframe").addClass( "post-img" );
</script>